{% extends "!layout.html" %}
{% block sidebar1 %}{% endblock %}
{% block sidebar2 %}{% endblock %}
{% block relbar1 %}{% endblock %}
{% block relbar2 %}{% endblock %}
{% block footer %}{% endblock %}
{% block doctype %}
<!DOCTYPE html>
{% endblock %}
{% set css_files = css_files + ["_static/skeleton/stylesheets/base.css"] %}
{% set css_files = css_files + ["_static/skeleton/stylesheets/skeleton.css"] %}
{% set css_files = css_files + ["_static/skeleton/stylesheets/layout.css"] %}
{% set css_files = css_files + ["_static/skeleton/stylesheets/base.css"] %}
