/* test */

h1 {
    border-bottom: 1px solid black;
}

article {
    margin: 10px;
}

.column {
    float: left;
    max-width: 400px;
    width: 100%;
}

ul { 
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 5px;
    margin-bottom: 0;
}

li:nth-child(even) {
    background-color: #CCCCCC;
}
